/* Variables de diseño */
:root {
    --color-fondo: #f5f5f5;
    --color-principal: #2a7ae4;
    --color-secundario: #333333;
    --color-texto: #000000;
    --color-blanco: #ffffff;
    --font-principal: 'Raleway', sans-serif;
    --padding-principal: 16px;
    --gap-principal: 16px;
}

body {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    line-height: 1.6;
    font-family: var(--font-principal);
    background-color: var(--color-fondo);
    color: var(--color-texto);
}

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color:var(--color-texto)
}

/* ------------------------------ Sección Menú -------------------------------*/
.cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: var(--gap-principal);
    padding: var(--gap-principal);
    background-color: var(--color-principal);
    color: var(--color-blanco);
}

.cabecera__contenedor-logo-titulo {
    display: flex;
    align-items: center;
    gap: var(--gap-principal);
}

.cabecera__logo {
    max-width: 80px;
    height: auto;
}

.navegacion__lista {
    display: flex;
    gap: var(--gap-principal);
    list-style: none;
    margin: 0;
    padding: 0;
}

.navegacion__elemento a {
    text-decoration: none;
    color: var(--color-blanco);
    font-weight: bold;
}

/* ------------------------------ Sección Presentación ------------------------------*/
.presentacion {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: var(--gap-principal);
    padding: 32px;
    background-color: var(--color-blanco);

}

.presentacion__foto {
    width: 300px;
    border-radius: 50%;
}

.presentacion__contenedor {
    max-width: 600px;
}

.redes {
    list-style: none;
    padding: 0;
    margin-top: var(--gap-principal);
    display: flex;
    gap: var(--gap-principal);
}

.redes__img a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--color-principal);
    font-weight: bold;
}

/* ------------------------------ Sección sobre mí ----------------------------------*/
.sobre-mi {
    padding: 32px;
    background-color: var(--color-fondo);
    text-align: center;
}

.sobre-mi__titulo {
    font-size: 2rem;
    margin-bottom: var(--gap-principal);
}

.sobre-mi__contenedor-texto {
    max-width: 800px;
    margin: 0 auto;
    text-align: justify;
}

/*------------------------------ Sección de Habilidades ------------------------------*/
.habilidades {
    padding: 32px;
    background-color: var(--color-blanco);
}

.habilidades__titulo {
    text-align: center;
    font-size: 2rem;
    margin-bottom: var(--gap-principal);
}

.habilidades__lista {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: var(--gap-principal);
}

.habilidades__elemento {
    text-align: center;
    background-color: var(--color-fondo);
    padding: var(--gap-principal);
    border-radius: 8px;
}

.habilidades__icono {
    width: 50px;
    margin-bottom: var(--gap-principal);
}

/*------------------------------ Sección de Aficiones --------------------------------*/
.aficiones {
    padding: 32px;
    background-color: var(--color-fondo);
}

.aficiones__titulo {
    text-align: center;
    font-size: 2rem;
    margin-bottom: var(--gap-principal);
}

.aficiones__lista {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: var(--gap-principal);
}

.aficiones__elemento {
    text-align: center;
    background-color: var(--color-blanco);
    padding: var(--gap-principal);
    border-radius: 8px;
}

.aficiones__icono {
    width: 50px;
    margin-bottom: var(--gap-principal);
}

/*------------------------------ Sección de Formación académica ------------------------------*/
.formacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    background-color: var(--color-blanco);
}

.formacion__titulo {
    text-align: center;
    font-size: 2rem;
    margin-bottom: var(--gap-principal);
}

.formacion__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px;
}

.formacion__imagen-contenedor{
    width: 100%;
    max-width: 368px;
    height: auto;
    background-color: var(--color-blanco);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 8px;
    padding: 16px;

}

.formacion__detalle{
    font-size: 16px;
    line-height: 18.78px;
    text-align: center;
}

.formacion__icono {
    width: 192px;
    height: auto;
    display: flex;
}

.formacion__nombre{
    font-size: 22px;
    line-height: 25.83px;
    text-align: center;
    margin-top: 8px;
}

/*------------------------------ Sección de Proyectos --------------------------------*/
.proyectos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    background-color: var(--color-fondo);
}

.proyectos__titulo{
    text-align: center;
    font-size: 2rem;
    margin-bottom: var(--gap-principal);
}

.proyectos__contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

.proyectos__imagen{
    width: 100%;
    max-width: 752px;
   padding-bottom: 1rem;
    border-radius: 8px;
}

.proyectos__contenedor-descripcion{
    display: flex;
    flex-direction: column;
    padding: 16px;
   
}

.proyectos__nombre{
    font-size: 22px;
    line-height: 25.83px;
    margin-bottom: 8px;
}

.proyectos__descripcion{
    font-size: 16px;
    line-height: 18.78px;
    margin-bottom: 8px;
}

.proyectos__boton {
    width: auto;
    padding: 10px 16px;
    background-color: var(--color-principal);
    color: var(--color-blanco);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
  }
  
  .proyectos__boton:hover {
    background-color: var(--color-secundario);
  }

/*------------------------------ Sección de Contacto ---------------------------------*/
.contacto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 32px;
    gap: var(--gap-principal);
    background-color: var(--color-blanco);
}

.contacto__imagen {
    width: 100%;
    max-width: 464px;
    height: auto;
}

.contacto__contenedor {
    flex: 1;
    max-width: 656px;
}

.contacto__formulario {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contacto__titulo{
    font-size: 2rem;
    margin-bottom: var(--gap-principal);
}

.contacto__texto{
    font-size: 16px;
    line-height: 18.78px;
    margin-bottom: 16px;
}

.contacto__campo {
    width: 100%;
    height: 56px;
    border: none;
    padding: 8px;
    border: 1px solid var(--color-secundario);
    border-radius: 5px;
}

.contacto__boton {
    padding: 10px 16px;
    background-color: var(--color-principal);
    color: var(--color-blanco);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.contacto__boton:hover {
    background-color: var(--color-secundario);
}

.contacto__campo-contacto__campo--textarea {
    width: 100%;
    height: 133px;
    border: 1px solid var(--color-secundario);
    border-radius: 5px;
    resize: none;
}

/*------------------------------ Footer ---------------------------------*/
footer {
    background-color: var(--color-principal);
    color: var(--color-blanco);
    padding: var(--padding-principal);
    text-align: center;
}

/*------------------------------ Responsividad ---------------------------------*/

/* Responsivo para tablets */
@media (max-width: 768px) {
    header.cabecera {
        flex-direction: column;
        text-align: center;
    }

    .navegacion__lista {
        flex-wrap: wrap;
        justify-content: center;
    }

    .presentacion {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .presentacion__foto {
        width: 150px;
    }

    .formacion__lista, .proyectos__contenedor {
        flex-direction: column;
    }

    .contacto {
        flex-direction: column;
    }

    .contacto__imagen {
        display: none;
    }
}

/* Responsivo para móviles */
@media (max-width: 480px) {
    .presentacion {
        padding: 16px;
    }

    .presentacion__foto {
        width: 100px;
    }

    .cabecera__contenedor-logo-titulo {
        flex-direction: column;
    }

    .navegacion__lista {
        flex-direction: column;
        gap: 8px;
    }

    .proyectos__contenedor {
        grid-template-columns: 1fr;
    }

    .formacion__titulo, .proyectos__titulo, .contacto__titulo {
        font-size: 1.5rem;
    }

    .contacto {
        padding: 16px;
    }

    .contacto__imagen {
        display: none;
    }
}